@import '../scss/colors';

@mixin parallax($image, $height) {
  @if ($image) {
    background-image: url($image);
  } @else {
    background: $chalk;
  }

  height: $height;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
