$black: #313638;
$chalk: #F3F2F2;

$dark-blue: #506690;
$purple: #5e35b1;

$blue: #00acc1;
$light-blue: #26c6da;

$cyan: #009688;
$light-cyan: #26A69A;

$grey: #5D737E;
$light-grey: #DCDFDD;

$green: #43A047;
$light-green: #66BB6A;

$red: #e53935;
$light-red: #ef5350;

$yellow: #FB8C00;
$light-yellow: #FFA726;
